
<section class="contact-form">
    <div class="container">
        <h1>Come in Contact with Us</h1>
        <form method="post">
            <div class="contact-form-name">
                <input id="name" name="name" type="text" placeholder="Your Name">
                <div class="error">You must provide a valid name</div>
            </div>
            <div class="contact-form-email">
                <input id="email" name="email" type="email" placeholder="Your Mail">
                <div class="error">You must provide an valid e-mail address</div>
            </div>
            <div class="contact-form-comments">
                <textarea id="comments" name="comments" placeholder="Comments"></textarea>
                <div class="error">You must provide a comment</div>
            </div>

            <button class="btn-theme" type="submit">Post Comments</button>
        </form>
    </div>
</section>

<section class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2037.9632806504403!2d17.95332371596752!3d59.28346792174103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f76f1ddc61a3b%3A0x25e5083bf3265ee9!2sAda%20Nilssons%20gata%2011%2C%20129%2056%20H%C3%A4gersten!5e0!3m2!1ssv!2sse!4v1677594354578!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>