    <div class="head-image">
        <img src="~/Images/xl-image.jpg" class="head-img" alt="..." />
        <div class='center-text'>
           <p id="title">SHOP</p> 
           <p id='text-title'>Home Product Details</p>
        </div>
    </div>