    <div class='contact'>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your mail here" aria-label="Enter your mail here" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <button class="btn btn-theme" type="button">SUBSCRIBE FOR NEWSLETTER</button>
        </div>
    </div>
    </div>