<div class="product-description">
    <div class="navbar-list">
        <ul class="nav nav-pills nav-fill navbar-items">
            <li class="nav-item">
                <a class="nav-link active link-1" aria-current="page" >DESCRIPTION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-2" >ADDITIONAL INFO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-3" >REVIEWS (0)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-4" >SHIPPING & DELIVERY</a>
            </li>
        </ul>
    </div>
    <div class="discrption-area">
        <p class="discrption-head">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
        <div class="discription-content">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
            <p>accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?</p>
            <p>Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus. </p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>

        </div>
    </div>
    <div class="image-description-cont">
        <img class="image-description" src="~/Images/red-dress.png" alt="" />
    </div>
    <hr></hr>
</div>