    <section class="product-row">
        <br></br>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="card">
                    <div class="card-img-container">
                        <a asp-controller="Products" asp-action="Index"><img src="~/Images/black-dress.png class="card-img-top" alt="..." /></a>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Black Dress</p>
                        <p class="card-price">1 499kr</p>
                        <p class="card-discount-price">999 kr</p>
                        <div class="card-menu d-xl-none">
                            <button class="menu-link"><i class="fa-solid fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="product-sale">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text-1">UP TO SELL</p>
                        <p class="card-text-2">50% OFF</p>
                        <p class="card-text-3">Get The Best Price</p>
                        <p class="card-text-4">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</p>
                        <div class="button-sale">
                            <a asp-controller="Products" asp-action="Index" class="product-row-link">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-img-container">
                    <a asp-controller="Products" asp-action="Index"><img src="~/Images/black-dress.png class="card-img-top" alt="..." /></a>
                    </div>
                <div class="card-body">
                    <p class="card-title">Black Dress</p>
                    <p class="card-price">1 499kr</p>
                    <p class="card-discount-price">999 kr</p>
                    <div class="card-menu d-xl-none">
                        <button class="menu-link"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>

            </div>
      <br></br>
    </section>