<div class="product-info">
    <img src="~/Images/red-dress.png" class="product-img" alt="..." />
    <div class="product-details">
        <p class="t-title">Young Star Smart Shoe in Fashion</p>
        <p class="t-info">
            Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
            diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet.
        </p>
        <div class="review-container">
            <Rating />
            <span class="review-count">16 Reviews</span>
        </div>
        <p class="price">$30</p>
        <div class="adding-row">
            <div class="container adding-row">
                <div class="row row-addning">
                    <div class="col-sm"><i class="fa-solid fa-minus"></i></div>
                    <div class="col-sm">3</div>
                    <div class="col-sm"><i class="fa-solid fa-plus"></i></div>
                </div>
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
        <div class="color-and-product-id">
            <p id="rcorners1"></p>
            <p id="rcorners2"></p>
            <p id="rcorners3"></p>
            <p id="product-id">SKU: N/A</p>
        </div>
        <button class="btn-wishlist">Add to wishlist</button>
    </div>
</div>